body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
  margin-bottom: 50px;
}

header > p {
  font-style: italic;
}

.episodes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.episode__item {
  width: 300px;
  padding-left: 10px;
  height: 530px;
}

button {
  border-radius: 5px;
  padding: 10px 16px;
  background-color: rgba(255, 12, 214, 0.544);
  color: white;
  border: none;
  cursor: pointer;
}

.header__favorite-number {
  font-weight: 600;
}

.clicked {
  background-color: rgba(171, 171, 171, 0.705);
}

button:active {
  background-color: rgba(255, 12, 214, 0.896);
}
